* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

header {
	text-align: center;
	align-items: center;
	background-color: #bbb;
	font-size: 2rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
	background-color: #455e7c;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: yellow;
}

main {
	
	margin: 20px 50px auto;
}
h2 {
    border-bottom:1px solid #000000;
}

h3 {
    background-color: #36454f;
    color: #fff;
}
.submenu li {
    display: block;
}

footer {
    background-color: #36454f;
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

img {
	margin: 20px;
}

.myHeader {
	display: flex;
	margin: 0 25%;
}

#myname {
	padding-top: 20px;
}

.myGrid {
	grid-template-columns: 1fr;
	/* gap: 20px; */
    /* justify-content:space-around; */
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

h2 {
	margin-bottom: 20px;
}

.card1 {
	margin-top: 20px;
}